doctype 5
html(lang="en")
  head
    title=pageTitle
    script(type='text/javascript')
        var port = #{port};
    script(src='/lib/pdf.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/main.js')
    link(rel='stylesheet', href='css/style.css')
  body(onLoad="loadPDF()")

    div#error
      div#errorDescription
    
    div#viewer

    div#loading
      img(src='img/spinner.gif')
