doctype 5
html(lang="en")
  head
    title=pageTitle
    script(type='text/javascript')
        var port = #{port};
    script(src='/lib/pdf.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/main.js')
    link(rel='stylesheet', href='css/style.css')
  body(style="width:100%;height:100%;padding:0px;margin:0px;text-align:center", onLoad="loadPDF()")

    div#error(style="text-align: center; font-size: 20px;")
    
    div#viewer(style='margin-left:auto;margin-right:auto;')

    div#loading
      img(style='display:none;position: fixed; top: 50%; left: 50%; z-index: 1000;',src='img/spinner.gif')
