doctype 5
html(lang="en")
  head
    title=pageTitle
    script(type='text/javascript')
        var port = #{port};
    script(src='/socket.io/socket.io.js')
    script(src='/js/main.js')
    link(rel='stylesheet', href='css/style.css')
  body(style="width:100%;height:100%;padding:0px;margin:0px")
    
    div#viewer
      embed(src='/file.pdf',width="100%",height="100%")

    div#loading
      div#backdrop
      div.spinner
        div#bar1
        div#bar2
        div#bar3
        div#bar4
        div#bar5
        div#bar6        
        div#bar7        
        div#bar8
        div#bar9
        div#bar10
        div#bar11
        div#bar12
