canvas {
  border:1px solid black;
  background: white;
}
html {
  background: gray;
  padding-top:20px;
  padding-bottom:20px;
}
#error {
  padding: 20px 20px 20px 20px;
  border: 1px solid black;
  background: white;
  text-align: center;
  font-size: 22px;
}

